/* MDX Style */
@font-face {
  font-family: Sahel;
  src: url("fonts/Sahel/Sahel.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* .container {
  color: #000;
} */
.entry {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #233159;
}

.meaning {
  font-family: Sahel, sans-serif;
  font-size: 18px;
  color: #2f342c;
  direction: rtl;
}

/* About Styles */
.box {
  text-align: center;
}
.title {
  font-family: "Calibri", Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: midnightblue;
}

.extra {
  font-family: "Calibri", Verdana, Tahoma, sans-serif;
  font-size: 17px;
  color: #131313;
}
a {
  text-decoration: none;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}
